extends layout

block content
  div.item-details
    h1= item.name
    p #{item.description}
    p= `Price: ₱${item.price}`
    p= `Brand: ${item.brand}`
    p= `Weight: ${item.weight}`
    p= `Tags: ${item.tags[0]}, ${item.tags[1]}`
    button.delete-btn
      a(href=`/item/${itemId}/delete`) Delete item 
    button.update-btn
      a(href=`/item/${itemId}/update`) Update item