extends layout 

block content
    div.container
        each item in items
            div.item
                h2= item.name
                p.description= item.description
                p.itemCategory= item.category_name
                p.price= item.price
                a(href=`/item/${item.id}`) View Details